<!DOCTYPE html>
<html ng-app="ActivityTimetableFrontend">
<head>
    <meta charset="UTF-8" />
    <title>Activity Timetable</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="./style/index.css" />
    <link rel="stylesheet" href="./style/inputInteger.css" />
    <link rel="stylesheet" href="./style/angularjs-datepicker.css" />
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../vendor/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <link rel="stylesheet" href="../vendor/font-awesome-less/css/font-awesome.min.css" />

    <script src="./js/domain/Date.js"></script>
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../vendor/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="./js/config/parameters.js.dist"></script>
    <script src="./js/config/parameters.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controller/sumupCtrl.js"></script>
    <script src="./js/controller/newTaskCtrl.js"></script>
    <script src="./js/controller/tasksCtrl.js"></script>
    <script src="./js/controller/monthSelectorCtrl.js"></script>
    <script src="./js/directive/inputInteger.js"></script>
    <script src="./js/service/api/taskApi.js"></script>
    <script src="./js/service/api/projectApi.js"></script>
    <script src="./js/service/api/calculationApi.js"></script>
    <script src="./js/service/statsCalculator.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <!-- month selector block -->
            <div class="well col-lg-3 col-md-6 col-xs-12" ng-controller="monthSelectorCtrl">
                <select class="form-control project"
                        ng-model="selectedMonth"
                        ng-change="changeSelectedMonth()"
                        ng-options="month as month|date:'MMMM yyyy' group by month.year() for month in months">
                    <option style="display:none" value="">Select a month</option>
                </select>
            </div>

            <!-- sumup block -->
            <div class="well col-lg-3 col-md-6 col-xs-12" ng-controller="sumupCtrl">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xs-12">
                            <b>Sumup</b>
                        </div>
                    </div>

                    <div class="row" ng-repeat="project in projects">
                        <div class="col-xs-9">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;{{ project.name }}
                        </div>
                        <div class="col-xs-3 align-right"><span ng-bind="project.duration"></span> h</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-9">
                            <b>Total</b>
                        </div>
                        <div class="col-xs-3 align-right"><b>{{ totalDuration }} h</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add new task block -->
    <div class="container-fluid" ng-controller="newTaskCtrl">
        <div class="row">
            <div class="well col-lg-6 col-md-12 col-xs-12">

                <div class="container-fluid">

                    <div class="row task-new">
                        <div class="col-xs-3">
                            <datepicker date-format="yyyy-MM-dd">
                                <input ng-model="newTask.day" class="form-control date" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-xs-7">
                            <select class="form-control project"
                                    ng-model="newTask.project"
                                    ng-options="project.id as project.name for project in projects">
                                <option style="display:none" value="">Select a project</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <input-integer class="input-group spinner" ng-model="newTask.duration" increment="incrementDuration()" decrement="decrementDuration()"></input-integer>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <textarea ng-model="newTask.description" placeholder="Description de la tache (optionnel)" class="description"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div type="text" class="btn btn-default add button" ng-click="send()">Ajouter</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- created tasks block -->
    <div class="container-fluid" ng-controller="tasksCtrl">

        <!-- week block -->
        <div ng-repeat="week in weeksOfWork" class="row week-of-work">
            <div class="well col-lg-6 col-md-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="week col-xs-12">
                            <span class="date">Semaine {{ week.week }}</span>
                        </div>
                    </div>

                    <!-- day block -->
                    <div ng-repeat="day in week.day_of_works" class="day-of-work">
                        <div class="row">
                            <div class="label-warning col-xs-12">
                                <span class="date">{{ day.day|date:'EEEE dd MMMM yyyy' }}</span>
                            </div>
                        </div>

                        <!-- task block -->
                        <div ng-repeat="task in day.tasks" class="row task" data-id="{{ task.id }}">
                            <div class="col-xs-7">
                                <select class="form-control project"
                                        ng-model="task.project.id"
                                        ng-change="changeProject(task.id)"
                                        ng-options="project.id as project.name for project in projects">
                                    <option style="display:none" value="">Select a project</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <input-integer class="input-group spinner" ng-model="task.duration" ng-change="changeDuration(task.id)" increment="incrementDuration(task.id)" decrement="decrementDuration(task.id)"></input-integer>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn btn-default delete" ng-click="delete(task.id)"><i class="glyphicon glyphicon-remove-circle"></i></div>
                            </div>
                            <div class="col-xs-10">
                                <textarea ng-model="task.description" placeholder="Description de la tache (optionnel)" class="description"></textarea>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn btn-default delete" ng-click="changeDescription(task.id)"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
