.week {
    font-size: 20px;
    font-family: Awesome;
    text-align:center;
    .border-left-radius(5px);
    .border-right-radius(5px);
}
.align-right {
    text-align:right;
}
.day-of-work + div {
    margin-top:10px;
}
.description {
    width:100%;
    height:150px;
}
